<html>
    <head>
        <title>Blog App </title> 
        <!--semantic ui cdn -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.css">
        <!-- css dentro da pata public  -->
         <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        
    </head>
    
    <body>
        <p>FROM THE HEADER FILE!</p>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item"><i class="code icon "></i> Blog Site</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
             </div>
        </div>