<h1>Sigup form</h1>

<form action="/register" method="POST">
  <input type="text" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button type="submit">Submit</button>
</form>