<% include partials/header %>
    <h1>You fell inlove with: <%=thingVar.toUpperCase() %></h1>
    
    <% if (thingVar.toLowerCase()==="bulma"){ %>
       <p>Good Choice! Bulma is the best</p> 
    <% } else { %>
        <p> Bad choice! You should have said Bulma</p>
    <% } %>
    
    <p>P.S this is the love.ejs file!!</p>
<% include partials/footer %>